body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f79696; /* Light red background */
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #ffcccc;
}

h1 {
    margin: 0;
}

h5{
    color: #ed0d0d;
}

img {
    max-width: 70%;
    height: auto;
    display: block;
    margin: 20px auto; /* Center the image */
} 

section {
    max-width: 800px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 0 auto;
}

form {
    display: flex; 
    flex-direction: row; /* Align buttons horizontally */
    justify-content: center; /* Center items horizontally */
}



button {
    padding: 10px 30px;
    border: none;
    color: #fff;
    cursor: pointer;
    margin: 5px; /* Adjust margin */
}

button.yes {
    background-color: #ff66b2; /* Pink for Yes */
}

button.no {
    background-color: #ff3333; /* Red for No */
}


section#reasons ol {
    border: 2px solid #db6aac; /* Border color can be adjusted */
    padding: 10px;
    border-radius: 10px; /* Optional: Add rounded corners */
    max-width: 300px; /* Optional: Limit the width of the border */
    margin: 0px auto; 
    margin-top: 20px;
    list-style-type: none;
    text-align: left;
    counter-reset: li;
}

section#reasons li {
    margin-bottom: 6px; /* Add some spacing between list items */
}

section#reasons li::before {
    content: counter(li); /* Use the counter value as content */
    counter-increment: li; /* Increment the counter for each list item */
    display: inline-block;
    width: 1.5em; /* Adjust the width to control spacing between number and text */
    margin-right: 3px; /* Adjust spacing between number and text */
}


footer {
    text-align: center;
    padding: 20px;
    background-color: #ffcccc;
}
